.Logo_link__1HZpZ {
    display: block;
    color: var(--text-white);
    border: 0;
    margin-bottom: 18px;
    padding: 0 24px
}

.Logo_logo___PNdq {
    width: 100%;
    max-width: 131px;
    height: 40px
}

.playlist_Playlist__3t8dQ {
    margin-top: 24px;
    padding: 0 var(--sidenav-margin-right) 12px var(--sidenav-margin-left)
}

.playlist_Playlist__3t8dQ h3 {
    color: var(--text-gray)
}

.playlist_Playlist__3t8dQ p {
    line-height: 20px;
    color: var(--text-gray)
}

.playlist_hr__3zc-9 {
    background-color: var(--sidenav-active);
    border: none;
    height: 1px;
    min-height: 1px
}

.title-s_text__1gOyy {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: .1em;
    text-transform: uppercase
}

.text-regular-m_text__20v4M {
    font-weight: 400
}

.text-bold-m_text__35xty, .text-regular-m_text__20v4M {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: normal;
    text-transform: none
}

.text-bold-m_text__35xty {
    font-weight: 700
}

.playlist-button_button__21_uX {
    display: flex;
    align-items: center;
    width: 100%;
    border: 0;
    padding: 5px 0;
    background-color: transparent
}

.playlist-button_button__21_uX img {
    width: 32px;
    height: 32px;
    margin-right: 16px
}

.playlist-button_button__21_uX p {
    margin: 0;
    text-align: left
}

.navigation_navBtns__15Hbk {
    padding: 0 8px
}

.navigation_button__1IoeP {
    border: 0;
    background-color: var(--sidenav-black);
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px
}

.navigation_button__1IoeP svg {
    color: var(--text-gray)
}

.navigation_button__1IoeP p {
    color: var(--text-gray);
    margin: 0 0 0 16px
}

.navigation_button__1IoeP:hover p, .navigation_button__1IoeP:hover svg {
    color: var(--text-white)
}

@media screen and (max-width:640px) {
    .navigation_navBtns__15Hbk {
        display: flex;
        justify-content: space-around;
        padding: 4px 8px
    }

    .navigation_button__1IoeP {
        background-color: #181818;
        flex-direction: column;
        height: auto
    }

    .navigation_button__1IoeP svg {
        font-size: 21px
    }

    .navigation_button__1IoeP p {
        font-weight: 400;
        font-size: 11px;
        margin-left: 0
    }
}

.sidebar_SideNavbar__1kApv {
    background-color: var(--sidenav-black);
    position: relative
}

.sidebar_Fixed__xK4C3 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    bottom: 0;
    padding-top: 24px
}

.sidebar_changeWidth__2brNe {
    width: 8px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 95px;
    cursor: col-resize;
    z-index: 9999
}

.sidebar_ActiveChange__38Dzq {
    border-right: 1px solid grey
}

.sidebar_ActiveChange__38Dzq:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999
}

.mobile-navigation_MobileNav__2YnBJ {
    position: fixed;
    z-index: 99;
    background: #181818;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #000
}

.icon-button_iconButton__3chxK {
    border: 0;
    background: transparent;
    width: 62px;    /* 32px creo */
    height: 62px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center
}

.icon-button_iconButton__3chxK svg {
    font-size: 26px;  /* 16px */
    fill: hsla(0, 0%, 100%, .7);
    color: hsla(0, 0%, 100%, .7)
}

.icon-button_iconButton__3chxK:hover svg {
    fill: #fff;
    color: #fff
}

.footer-left_footerLeft__3JtjI {
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.footer-left_imgBox__eXFAx {
    width: 56px;
    height: 56px
}

.footer-left_imgBox__eXFAx img {
    width: 100%;
    height: 100%
}

.footer-left_songDetails__1K4pX {
    margin-left: 16px;
    margin-right: 16px
}

.footer-left_songDetails__1K4pX p {
    margin: 0
}

.footer-left_songDetails__1K4pX p small {
    color: #b3b3b3;
    font-size: 11px
}

@media screen and (max-width:640px) {
    .footer-left_imgBox__eXFAx {
        width: 62px;   /* 42px */
        height: 62px   /* 42px */
    }

    .footer-left_footerLeft__3JtjI button:nth-child(3) {
        margin-left: auto
    }
}

.play-button_playBtn__3lkP1 {
    width: 62px;  /* 32px */
    height: 62px; /* 32px */
    border-radius: 62px;
    color: #000;
    border: none;
    background-color: #fff;
    padding: 0;
    transition: .2s
}

.play-button_playBtn__3lkP1:hover {
    transform: scale(1.1)
}

.play-button_playBtn__3lkP1 svg {
    fill: #000 !important
}

.music-control-box_musicControl__2KYFo {
    width: 280px;   /* 224px */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px
}

.music-control-box_musicControl__2KYFo div button svg {
    fill: #000 !important
}

.music-control-box_button__2qnJb {
    border: 0;
    background: transparent;
    width: 32px;    /* 32px */
    height: 32px;   /* 32px */
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center
}

.music-control-box_button__2qnJb svg {
    font-size: 26px;   /* 16px */
    fill: hsla(0, 0%, 100%, .7);
    color: hsla(0, 0%, 100%, .7)
}

.music-control-box_musicControl__2KYFo svg:hover {
    fill: #fff;
    color: #fff
}

.range-slider_progressBar__2n6_5 {
    display: flex;
    align-items: center;
    position: relative
}

.range-slider_range__slider__1U5ts {
    -webkit-appearance: none;
    background-color: #535353;
    height: 4px;
    overflow: hidden;
    width: auto;
    border-radius: 2px
}

.range-slider_spanThumb__2K707 {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50px;
    z-index: 1;
    opacity: 0;
    pointer-events: none
}

.range-slider_range__slider__1U5ts::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 4px
}

.range-slider_range__slider__1U5ts::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    z-index: 9;
    background: #b3b3b3;
    border-radius: 50%;
    box-shadow: -410px 0 0 408px #b3b3b3;
    cursor: pointer;
    height: 4px;
    width: 4px;
    border: 0
}

.range-slider_range__slider__1U5ts::-moz-range-thumb {
    background: #b3b3b3;
    border-radius: 50%;
    box-shadow: -410px 0 0 408px #b3b3b3;
    cursor: pointer;
    height: 4px;
    width: 4px;
    border: 0
}

.range-slider_range__slider__1U5ts::-moz-range-track {
    background-color: #535353
}

.range-slider_range__slider__1U5ts::-moz-range-progress {
    background-color: #b3b3b3;
    height: 4px
}

.range-slider_range__slider__1U5ts::-ms-fill-upper {
    background-color: #535353
}

.range-slider_range__slider__1U5ts::-ms-fill-lower {
    background-color: #b3b3b3
}

.range-slider_progressBar__2n6_5:hover .range-slider_range__slider__1U5ts::-webkit-slider-thumb {
    background: #1db954;
    box-shadow: -410px 0 0 408px #1db954
}

.range-slider_progressBar__2n6_5:hover .range-slider_range__slider__1U5ts::-moz-range-thumb {
    background: #1db954;
    box-shadow: -410px 0 0 408px #1db954
}

.range-slider_progressBar__2n6_5:hover span {
    background: #1db954 !important;
    opacity: 1 !important
}

.music-progress-bar_musicProgress__2dTEe {
    display: flex;
    justify-content: center;
    width: 100%
}

.music-progress-bar_musicProgress__2dTEe span p {
    margin: 0 8px;
    word-break: normal;
    font-size: 11px;
    color: #b3b3b3
}

.music-progress-bar_musicProgress__2dTEe div {
    display: flex;
    align-items: center;
    width: 100%
}

.music-progress-bar_musicProgress__2dTEe input {
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.footer-right_footerRight__Ko0C9 {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.footer-right_soundBar__3XZch {
    display: flex;
    align-items: center
}

.footer-right_soundBar__3XZch input {
    width: 93px
}

.footer_footer__26u_S {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    z-index: 9
}

.footer_nowplayingbar__fseJN {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    background-color: var(--card-background);
    border-top: 1px solid var(--sidenav-active);
    padding: 17px 16px;
    color: #fff
}

.footer_footerMid__1vKD3 {
    display: flex;
    flex-direction: column;
    align-items: center
}

@media screen and (max-width:640px) {
    .footer_footer__26u_S {
        bottom: 45px   /* 45px */
    }

    .footer_nowplayingbar__fseJN {
        padding: 8px 16px;
        grid-template-columns: 1fr;
        grid-row-gap: 16px;
        row-gap: 16px
    }
}

.search-box_SeachBox__basrI {
    position: relative;
    max-width: 368px
}

.search-box_SeachBox__basrI svg {
    position: absolute;
    color: #000;
    top: 8px;
    left: 12px
}

.search-box_SeachBox__basrI input {
    color: #000;
    padding: 6px 48px;
    height: 28px;
    width: 100%;
    border: 0;
    border-radius: 500px;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px
}

@media screen and (max-width:640px) {
    .search-box_SeachBox__basrI svg {
        left: 26px;
        top: 15px
    }

    .search-box_SeachBox__basrI input {
        padding: 6px 42px;
        height: 24px;
        width: 160px
    }
}

.library-tab-btn_TabNav__26R_d {
    padding-left: 24px
}

.library-tab-btn_tabBtn__10TlG {
    margin: 0 8px 0 0;
    color: #fff;
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 12px 16px;
    border-radius: 4px
}

.library-tab-btn_tabBtn__10TlG p {
    margin: 0
}

@media screen and (max-width:640px) {
    .library-tab-btn_tabBtn__10TlG {
        padding: 8px 12px
    }
}

.topnav_Topnav__3zvii {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    z-index: 99;
    background-color: transparent
}

.topnav_Topnav__3zvii div {
    padding: 0 32px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.topnav_Topnav__3zvii div div {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    height: auto
}

.topnav_Topnav__3zvii span {
    display: flex;
    align-items: center
}

.topnav_ProfileBtn__1ZqWn {
    border: none;
    height: 32px;
    padding: 0 16px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, .7);
    color: #fff
}

@media screen and (max-width:640px) {
    .topnav_Topnav__3zvii {
        background-color: #121212;
        height: 50px
    }

    .topnav_Topnav__3zvii div {
        height: 50px;
        padding: 0 16px
    }

    .topnav_Topnav__3zvii div div, .topnav_Topnav__3zvii div nav {
        position: absolute;
        left: 0;
        top: 46px;
        right: 0;
        padding: 8px 16px;
        background: #121212;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333
    }

    .topnav_Topnav__3zvii div nav {
        display: grid;
        grid-template-columns: 128px 106px 98px 94px;
        overflow-x: scroll
    }
}

.title-l_text__3l4L4 {
    font-size: 32px;
    line-height: 36px
}

.title-l_text__3l4L4, .title-m_text__1C2dR {
    font-weight: 700;
    letter-spacing: -.04em;
    text-transform: none
}

.title-m_text__1C2dR {
    font-size: 24px;
    line-height: 28px
}

.text-bold-l_text__V5ZUK {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: normal;
    text-transform: none
}

.playlist-card-s_PlaylistCardSBox__peImw {
    position: relative
}

.playlist-card-s_PlaylistCardS__qdo9i {
    position: relative;
    height: 80px;
    background-color: hsla(0, 0%, 100%, .1);
    border-radius: 4px;
    -webkit-transition: background-color .3s ease;
    display: grid;
    grid-template-columns: 80px 1fr
}

.playlist-card-s_ImgBox__2mMwr {
    width: 80px;
    height: 80px
}

.playlist-card-s_ImgBox__2mMwr img {
    width: 100%;
    height: 100%;
    border-radius: 4px 0 0 4px
}

.playlist-card-s_Title__3bE28 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    color: #fff
}

.playlist-card-s_Title__3bE28 p {
    -webkit-line-clamp: 2;
    word-break: break-word
}

.playlist-card-s_IconBox__11Eth {
    display: inline-flex;
    opacity: 0;
    transition: all .3s ease;
    box-shadow: 0 8px 8px rgb(0 0 0/30%);
    z-index: 2;
    border-radius: 500px;
    position: absolute;
    right: 16px;
    top: calc(50% - 20px)
}

.playlist-card-s_IconBox__11Eth div {
    background-color: #1db954;
    height: 40px;
    width: 40px
}

.playlist-card-s_IconBox__11Eth button {
    height: 40px;
    width: 40px;
    transition: transform 33ms cubic-bezier(.3, 0, 0, 1)
}

.playlist-card-s_ActiveIconBox__Nwsur {
    opacity: 1
}

.playlist-card-s_IconBox__11Eth button svg {
    fill: #fff !important
}

.playlist-card-s_IconBox__11Eth button:hover {
    transform: scale(1.06)
}

.playlist-card-s_PlaylistCardS__qdo9i:hover {
    background: hsla(0, 0%, 100%, .2);
    -webkit-backdrop-filter: blur(60px);
    backdrop-filter: blur(60px)
}

.playlist-card-s_PlaylistCardSBox__peImw:hover .playlist-card-s_IconBox__11Eth {
    opacity: 1
}

.playlist-card-m_PlaylistCardSBox__3FsHf {
    position: relative;
    overflow: hidden
}

.playlist-card-m_PlaylistCardS__37SC0 {
    position: relative;
    padding: 16px;
    background: #181818;
    border-radius: 4px;
    transition: background-color .3s ease
}

.playlist-card-m_ImgBox__2HRRf {
    position: relative;
    box-shadow: 0 -4px 12px rgb(0 0 0/50%)
}

.playlist-card-m_ImgBox__2HRRf img {
    height: 100%;
    width: 100%;
    border-radius: 2px
}

.playlist-card-m_IconBox__8NMvy {
    position: absolute;
    bottom: 94px;
    right: 24px;
    opacity: 0;
    transition: all .3s ease;
    box-shadow: 0 8px 8px rgb(0 0 0/30%);
    z-index: 2;
    border-radius: 500px
}

.playlist-card-m_IconBox__8NMvy div {
    background-color: #1db954;
    height: 40px;
    width: 40px
}

.playlist-card-m_IconBox__8NMvy button {
    height: 40px;
    width: 40px;
    transition: transform 33ms cubic-bezier(.3, 0, 0, 1)
}

.playlist-card-m_ActiveIconBox__2PJkU {
    bottom: 106px;
    opacity: 1
}

.playlist-card-m_IconBox__8NMvy button svg {
    fill: #fff !important
}

.playlist-card-m_Title__3mvDY {
    margin-top: 16px;
    min-height: 62px
}

.playlist-card-m_Title__3mvDY p {
    margin: 0;
    color: var(--text-white)
}

.playlist-card-m_Title__3mvDY p:last-child {
    color: #b3b3b3;
    margin-top: 4px;
    -webkit-line-clamp: 2
}

.playlist-card-m_IconBox__8NMvy button:hover {
    transform: scale(1.06)
}

.playlist-card-m_PlaylistCardSBox__3FsHf:hover .playlist-card-m_IconBox__8NMvy {
    bottom: 106px;
    opacity: 1
}

.home_Home__3KlTj {
    overflow-y: scroll;
    background: transparent;
    position: relative;
    margin-bottom: 95px;
    padding-bottom: 16px
}

.home_HoverBg__n6lgo {
    height: 332px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(0, 0, 0, .6), #121212);
    transition: background 1s ease;
    background-color: var(--hover-home-bg)
}

.home_Bg__26VPb {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0;
    background: #121212;
    z-index: -2
}

.home_Content__2tq85 {
    padding: 24px 32px 0
}

.home_Content__2tq85 section:not(:first-child) {
    margin-top: 32px
}

.home_SectionTitle__3eeDy {
    margin-bottom: 22px
}

.home_SectionTitle__3eeDy h1, .home_SectionTitle__3eeDy h2 {
    margin: 0;
    color: #fff
}

.home_SectionCards__2e9dU {
    grid-template-columns: repeat(auto-fill, minmax(var(--small-cards-column-width), 1fr));
    grid-row-gap: 16px;
    row-gap: 16px;
    max-height: 176px
}

.home_SectionCards__2e9dU, .home_SectionCardsMedium__3P0Mt {
    display: grid;
    grid-column-gap: 24px;
    -webkit-column-gap: 24px;
    column-gap: 24px;
    overflow-y: hidden
}

.home_SectionCardsMedium__3P0Mt {
    grid-template-columns: repeat(auto-fill, minmax(var(--cards-column-width), 1fr));
    grid-auto-rows: 0;
    grid-template-rows: 1fr
}

@media screen and (max-width:640px) {
    .home_SectionCardsMedium__3P0Mt {
        grid-gap: 16px;
        overflow-y: auto;
        grid-auto-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto
    }

    .home_Content__2tq85 {
        padding: 16px 16px 100px
    }
}

.searchpage-card_SearchCardBox__3Ycjy {
    overflow: hidden;
    position: relative;
    width: 100%;
    border: none;
    border-radius: 8px
}

.searchpage-card_SearchCardBox__3Ycjy:after {
    content: "";
    display: block;
    padding-bottom: 100%
}

.searchpage-card_SearchCard__QSxUd {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent, rgba(0, 0, 0, .4))
}

.searchpage-card_SearchCard__QSxUd img {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 0 2px 4px 0 rgb(0 0 0/20%);
    transform: rotate(25deg) translate(18%, -2%)
}

.searchpage-card_SearchCard__QSxUd h2 {
    padding: 16px;
    margin: 0;
    top: 0;
    letter-spacing: -.04em;
    overflow-wrap: break-word;
    position: absolute
}

.search_SearchPage__3bY9l {
    background-color: #121212;
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden
}

.search_Search__2BWIk {
    padding: 0 32px 32px;
    margin-bottom: 95px
}

.search_SearchCardGrid__2InxY {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    padding-top: 16px
}

@media screen and (max-width:640px) {
    .search_Search__2BWIk {
        padding: 16px;
        margin-bottom: 180px;
        margin-top: 24px
    }

    .search_SearchCardGrid__2InxY {
        grid-gap: 16px;
        grid-template-columns: 1fr 1fr
    }
}

.library_LibPage__21K2o {
    background-color: #121212;
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden
}

.library_Library__3wUXj {
    padding: 32px;
    margin-bottom: 95px
}

.library_Library__3wUXj h2 {
    margin: 0
}

.library_Grid__1xRZ5 {
    margin-top: 24px;
    display: grid;
    grid-gap: 24px;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(var(--cards-column-width), 1fr))
}

@media screen and (max-width:640px) {
    .library_Library__3wUXj {
        padding: 16px;
        margin-bottom: 180px;
        margin-top: 42px
    }

    .library_Grid__1xRZ5 {
        grid-gap: 16px;
        grid-template-columns: 1fr 1fr
    }
}

.playlist-details_playlistDetails__LrGpG {
    padding: 24px 32px;
    display: grid;
    grid-template-columns: 232px 1fr;
    grid-column-gap: 24px;
    -webkit-column-gap: 24px;
    column-gap: 24px
}

.playlist-details_imgBox__1Fdn0 {
    width: 232px;
    height: 232px
}

.playlist-details_imgBox__1Fdn0 img {
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 60px rgb(0 0 0/50%)
}

.playlist-details_textBox__25_RX {
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

.playlist-details_textBox__25_RX h3 {
    margin: 4px 0 0;
    letter-spacing: -.4px
}

.playlist-details_textBox__25_RX h1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
    padding: .08em 0;
    font-size: 96px;
    line-height: 96px;
    font-weight: 700;
    letter-spacing: -.04em;
    text-transform: none
}

.playlist-details_Artist__39V81 {
    display: flex;
    align-items: center;
    margin-top: 16px
}

.playlist-details_Artist__39V81 figure {
    width: 24px;
    height: 24px;
    margin: 0;
    display: inline-block
}

.playlist-details_Artist__39V81 figure img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.playlist-details_Artist__39V81 p {
    margin: 0 0 0 6px
}

@media screen and (max-width:640px) {
    .playlist-details_playlistDetails__LrGpG {
        grid-template-columns: 1fr;
        grid-row-gap: 8px;
        row-gap: 8px;
        place-items: center;
        text-align: center
    }

    .playlist-details_imgBox__1Fdn0 {
        width: 125px;
        height: 125px
    }

    .playlist-details_textBox__25_RX h1 {
        font-size: 32px;
        line-height: 32px
    }

    .playlist-details_Artist__39V81 {
        justify-content: center
    }
}

.playlist-track_trackDiv__12SrI {
    display: block;
    width: 100%;
    background: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    position: relative;
    display: grid;
    grid-template-columns: 16px 36px 1fr 38px;
    align-items: center;
    text-align: left;
    padding: 0 16px;
    grid-column-gap: 16px;
    -webkit-column-gap: 16px;
    column-gap: 16px;
    height: 56px
}

.playlist-track_playBtn__38-lf {
    position: absolute;
    opacity: 0;
    background: none;
    left: 5px;
    z-index: 2;
    width: 32px;
    height: 32px;
    border: 0
}

.playlist-track_playBtn__38-lf svg {
    font-size: 18px;
    fill: #fff !important
}

.playlist-track_gif__o17VZ {
    width: 14px !important;
    height: 14px !important
}

.playlist-track_trackDiv__12SrI:hover {
    background-color: hsla(0, 0%, 100%, .1)
}

.playlist-track_trackDiv__12SrI:hover .playlist-track_gif__o17VZ, .playlist-track_trackDiv__12SrI:hover .playlist-track_SongIndex__2hhF7 {
    opacity: 0
}

.playlist-track_trackDiv__12SrI:hover .playlist-track_playBtn__38-lf {
    opacity: 1
}

@media screen and (max-width:640px) {
    .playlist-track_trackDiv__12SrI {
        padding: 0 0 0 6px;
        width: calc(100% - 8px)
    }
}

.playlist_PlaylistPage__3NyFR {
    overflow-y: scroll;
    overflow-x: hidden;
    background: transparent;
    position: relative;
    margin-bottom: 95px;
    padding-bottom: 16px;
    color: var(--text-white)
}

.playlist_gradientBg__1PYLO {
    height: 340px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(transparent, rgba(0, 0, 0, .5));
    transition: background 1s ease;
    background-color: var(--hover-home-bg)
}

.playlist_gradientBgSoft__wr0RQ {
    position: absolute;
    left: 0;
    right: 0;
    top: 340px;
    height: 240px;
    z-index: -2;
    background-image: linear-gradient(rgba(0, 0, 0, .6), var(--main-background));
    background-color: var(--hover-home-bg)
}

.playlist_Bg__1k0R8 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -3;
    background-color: var(--main-background)
}

.playlist_PlaylistIcons__3uWXQ {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 24px 32px;
    position: relative
}

.playlist_PlaylistIcons__3uWXQ button {
    border: 0;
    background-color: transparent
}

.playlist_PlaylistIcons__3uWXQ div {
    margin-right: 32px;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    background-color: #1db954
}

.playlist_PlaylistIcons__3uWXQ div button {
    width: 56px;
    height: 56px
}

.playlist_PlaylistIcons__3uWXQ div button svg {
    font-size: 28px;
    fill: #fff !important
}

.playlist_PlaylistIcons__3uWXQ button svg {
    font-size: 28px
}

.playlist_moreIcon___xTh9 {
    margin-left: 24px;
    font-size: 28px;
    color: hsla(0, 0%, 100%, .6)
}

.playlist_PlaylistSongs__3cbn7 {
    padding: 0 32px
}

.playlist_ListHead__1ZN9C {
    margin: 0 20px 16px 40px;
    padding: 8px 16px;
    color: #b3b3b3;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 16px 1fr 16px
}

.playlist_ListHead__1ZN9C p:first-child {
    font-size: 18px
}

.playlist_ListHead__1ZN9C p {
    margin: 0;
    letter-spacing: .03em
}

.playlist_ListHead__1ZN9C svg {
    fill: #b3b3b3;
    font-size: 16px
}

.playlist_SongBtn__3PW9S {
    display: block;
    width: 100%;
    background: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.playlist_SongBtn__3PW9S p {
    margin: 0;
    font-weight: 400
}

.playlist_SongBtn__3PW9S img {
    width: 36px;
    height: 36px
}

.playlist_SongBtn__3PW9S p:last-child, .playlist_SongBtn__3PW9S span p:last-child {
    color: #b3b3b3
}

@media screen and (max-width:640px) {
    .playlist_PlaylistPage__3NyFR {
        margin-bottom: 180px
    }

    .playlist_PlaylistIcons__3uWXQ {
        padding: 20px 16px
    }

    .playlist_PlaylistIcons__3uWXQ div {
        width: 38px;
        height: 38px;
        margin-right: 24px
    }

    .playlist_PlaylistIcons__3uWXQ div button {
        width: 38px;
        height: 38px
    }

    .playlist_PlaylistIcons__3uWXQ div button svg {
        font-size: 21px
    }

    .playlist_ListHead__1ZN9C {
        padding: 8px;
        margin: 0 16px 8px;
        grid-template-columns: 16px 1fr 26px
    }

    .playlist_PlaylistSongs__3cbn7 {
        padding: 0 16px
    }

    .playlist_SongBtn__3PW9S {
        padding: 0
    }
}

.App_layout__381dV {
    min-height: 100vh;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr
}

@media screen and (max-width:640px) {
    .App_layout__381dV {
        grid-template-columns: 1fr
    }
}

:root {
    --sidenav-black: #000;
    --sidenav-active: #282828;
    --text-gray: #b3b3b3;
    --text-white: #fff;
    --main-background: #121212;
    --card-background: #181818;
    --sidenav-width: 238px;
    --sidenav-margin-left: 24px;
    --sidenav-margin-right: 24px;
    --small-cards-column-width: 270px;
    --cards-column-width: 180px;
    --hover-home-bg: #535353
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #121212
}

a {
    text-decoration: none
}

a, button {
    cursor: pointer
}

:focus {
    outline: none
}

svg {
    font-size: 24px
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0
}

::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 100%, .3);
    border-radius: 0
}

::-webkit-scrollbar-thumb:active, ::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 100%, .5)
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0
}

::-webkit-scrollbar-track:active, ::-webkit-scrollbar-track:hover {
    background: transparent
}

::-webkit-scrollbar-corner {
    background: transparent
}

::selection {
    color: inherit;
    background: transparent
}

nav .activeLink button {
    background-color: var(--sidenav-active)
}

nav .activeLink button p, nav .activeLink button svg {
    color: var(--text-white)
}

p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: unset;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden
}

.activeIcon svg {
    fill: #1db954 !important;
    color: #1db954 !important
}

.NextBtn, .PrevBtn {
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 0;
    margin-right: 16px
}

.NextBtn svg, .PrevBtn svg {
    font-size: 22px
}

.activeTrack {
    background-color: hsla(0, 0%, 100%, .2) !important
}

.activeTrack span p:first-child {
    color: #1db954 !important
}

.activeTabBtn {
    background-color: #333
}

@media screen and (max-width:640px) {
    nav .activeLink button {
        background-color: inherit
    }

    ::-webkit-scrollbar {
        width: 2px;
        height: 1px
    }
}

/*# sourceMappingURL=main.7d21c6e4.chunk.css.map */





/* standalone */
@media (display: standalone){
    .mobile-navigation_MobileNav__2YnBJ {
        /* position: fixed; */
        z-index: 99;
        background: #181818;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid #000
    }
    .footer_footer__26u_S {
        bottom: 25px;  /* 65px con nav abajo */
    }
    .navigation_navBtns__15Hbk {
        display: flex;
        justify-content: space-around;
        padding: 15px 8px;
    }
}